git_url_to_email.json
setuptokens.sh
datasheet.md
gds/*gds
/.idea/
/precheck_results/
*/tmp
*/*/tmp
*.hex*
*.lst
*.vcd
*.fst
results.xml
sim_build*
__pycache__
scan_mux
.DS_Store
venv
verilog/gl/all_sta.tcl
verilog/gl/merged_user_project_wrapper.v
verilog/gl/sta.sh
verilog/gl/user_project_wrapper.v_edited
spef/user_project_wrapper.tcl
